#wrapper a {
  text-decoration: none;
  color: unset;
  align-self: flex-start;
  padding: 5px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35vw;
  padding: 25px;
  margin: 10px;
  background-color: rgba(8, 20, 9, 0.3);
  text-align: left;
  color: white;
  box-shadow: 1px 1px 3px 3px whitesmoke;
}

.card-text{
  padding: 5px;
}